body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.todo-container {
    text-align: center;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}
